
.footer {
    min-height: 100px;
    background-color: #f3f3f3;
    min-width: 100%;
}

.footer .content {
    width: 75%;
    margin: 0 12.5%;
    display: flex;
    justify-content: space-between;

}

.left_footer_content {
    color: #555;
    margin-top: 41px;
    margin-bottom: 41px;
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.right_footer_content {
    color: #777;
    margin-top: 41px;
    margin-bottom: 41px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.footer a {
    font-size: 1rem;
}