
body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    position: relative;
    font-size: 14px;
}

.page {
    width: 1060px;
    margin: 0 auto;
}


.main_page {
    display: flex;
}

a { 
    font-size: 1.6em;
    text-decoration: none;
    color: #333;   
}

h3 {
    font-family: 'Playfair Display', serif;
    color: #777;
    font-weight: 400;
    font-size: 1.8rem;
}

h5 {
    color: #bbb;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

p {
    font-size: 1rem;
    line-height: 24px;
    color: #222;
}

span {
    font-weight: bold;
}

input {
    font-family: 'Playfair Display', serif;  
}
