body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    position: relative;
    font-size: 10px;
}

.page {
    width: 1060px;
    margin: 0 auto;
}

.anoser_page {
    width: 110%;
}

.main_page {
    display: flex;
}

a {
    font-size: 1.6em;
    text-decoration: none;
    color: #333;   
}

h3 {
    font-family: "Ubuntu", sans-serif;
    color: #444;
    font-weight: 300;
    font-size: 2.8em;
}

h5 {
    color: #ccc;
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
}

p {
    font-size: 1.4em;
    line-height: 24px;
}

span {
    font-weight: bold;
}