.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.logo {
    display: inline-block;
    margin-right: auto;
}

.logo img {
    width: 124px;
}

.header a {
    margin-left: 80px;
    color: #777;
}
