.last_links_button {
    margin-top: 165px;
    margin-left: 350px;
    width: 165px;
    height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0%);
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    cursor: pointer;
    font-family: "Playfair_Display";
}