.links {
    height: 880px;
}

.link {
    width: 50%;
    float: left;
}

.link img {
    width: 420px;
    height: 280px;
    background-color: #aaa;
}

.link p {
    max-width: 420px;
    color: #777;
}

.link a {
    color: #777;
    font-family: "Playfair_Display";
    color: #444;
    font-weight: 300;
    font-size: 28px;
}