* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    position: relative;
    font-size: 14px;
}

.page {
    margin: 0 auto;
}

@media screen and (min-width: 1000px) {
.page {
    width: 1060px;
}
}

.main_page {
    display: flex;
}

a { 
    font-size: 1.6em;
    text-decoration: none;
    color: #333;   
}

h3 {
    font-family: 'Playfair Display', serif;
    color: #777;
    font-weight: 400;
    font-size: 1.8rem;
}

h5 {
    color: #bbb;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

p {
    font-size: 1rem;
    line-height: 24px;
    color: #222;
}



/*

Header

*/


.main_photo {
    margin-bottom: 78px;
}

@media screen and (min-width: 0px ) {
.header {
    display: flex;
    margin-top: 50px;
}

.header > ul {
    display: none;
}

.logo {
    display: inline-block;
    margin-left: 20px;
}

.logo img {
    width: 200px;
}
/*
#check_menu {
    display: none;
    margin-left: auto;
}

.burger_box label {
    position: absolute;
    font-size: 2rem;
    line-height: inherit;
}
    
.burger_box li {
    background-color: #fff;
    overflow: hidden;
}
    
.burger_box a {
    padding-left: 0px;
    font-size: inherit;
}
    
.burger_box {
    margin-left: auto;
    width: 100px;
    position: relative;
}
    
.burger_box ul {
    font-size: 0px;
    height: 0;
    top: 40px;
    position: absolute;
    padding: 0;
}

#check_menu:checked > ul {
    display: block;
    font-size: 1rem;
    max-height: 500px;
}
*/
}

@media screen and (min-width: 640px ) {

.header {
    justify-content: space-between;
}

.header > ul {
    display: flex;

    margin: 0;
    list-style: none;
}

.logo img { 
    width: 125px;
}

.header a {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
    color: #777;
    transition: all 0.5s ease;
}

.header > ul li a {
    display: block;
}

.header li {
    display: block;
}

.header li a:hover {
    background-color: #777;
    color: #ffffff;
    transition: all 0.5s ease;
}

.header li ul {
    position: absolute;
    padding-left: 0;
    display: none;
}

.header li ul a {
    padding: 12px;
}

.lifestyle {
    min-width: 160px;
}

.photodiary {
    min-width: 180px;
}

.header li ul li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
}

.header li ul li:first-child {
    border-top: 1px solid #ccc; 
}

.header li:hover ul {
    display: block;
}

.burger_box {
    display: none;
}
}


/*

Posts

*/

.main_post h5 {
    color: #ccc;
}

.main_post_content {
    margin: 0 7.5%;
}

.button-pst {
    margin: 0 7.5%, 75px, 7.5%;
    margin-bottom: 75px;
}

@media screen and (min-width: 0px ) {
.comment {
    margin-top: 50px;
    margin-bottom: 150px;
}

.main_post img {
    width: 100%;
    margin: 0;
}

.last_posts {
    margin: 0 7.5%;
    justify-content: space-between;
}
}

@media screen and (min-width: 640px ) {
.comment {
    margin: 50px 0;
}

.main_post img {
    margin-bottom: 50px;
}

.last_posts {
    display: flex;
}
}

@media screen and (min-width: 0px ) {
    .posts {
        height: 2100px;
        display: block;
        margin: 0 7.5%;
        margin-top: 100px;
        padding-bottom: 125px;
    }

    .button-pst {
        display: flex;
        justify-content: center;
    }

    .post {
        width: 100%;
    }

    .post img {
    width: 100%;
    }

    .post p {
        margin-bottom: 100px;
    }

    .post a {
        font-weight: 400;
        margin-bottom: 20px;
    }

    .posts_button {
        outline: none;
        width: 250px;
        height: 120px;
        font-size: 3rem;
        background-color: rgba(0, 0, 0, 0%);
        color: #5d5d5d;
        border: 1px solid #5d5d5d;
        cursor: pointer;
        font-family: inherit;
    }
}

@media screen and (min-width: 640px ) {
.posts {
    height: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 7.5%;
    margin-top: 100px;
    padding-bottom: 125px;
}

.post {
 width: 48%;
}

.post img {
    width: 100%;
    max-height: 280px;
}

.post p {
    max-width: 420px;
    margin-bottom: 100px;
}

.post a {
    font-weight: 400;
    margin-bottom: 20px;
}

.posts_button {
    margin: auto 38%;
    margin-bottom: 75px;
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
}
}

/*

Signup

*/

.sign_up {
    height: 280px;
    background-color: #f3f3f3;
    padding-top: 80px;
    margin-bottom: 80px;
}

.sign_form {
    max-width: 400px;
    margin: 0 auto;
}

.sign_up h3 {
    text-align: center;
    font-size: 32px;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 60px;
}

.sign_in {
    outline: none;
    font-size: 1.2rem;
    height: 40px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0%);
    border: none;
    padding-left: 5px;
}

.sign_up button {
    outline: none;
    background-color: rgba(0, 0, 0, 0%);
    border: 0px solid;
    width: 50px;
    height: 40px;
}

.signing {
    display: flex;
    border-bottom: 1px solid black;
    max-width: 400px;
}


/*

Footer

*/

.footer {
    height: 100px;
    background-color: #f3f3f3;
}

@media screen and (min-width: 0px) {
.left_footer_content {
    margin-top: 41px;
    margin-bottom: 41px;
    color: #555;
    width: 200px;
}

.right_footer_content {
    color: #777;
    width: 100px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.footer .content {
    width: 80%;
    height: 100px;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
}

@media screen and (min-width: 640px) {
.left_footer_content {
    width: 230px;
    margin-top: 41px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}

.right_footer_content {
    width: 160px;
    margin-top: 41px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}

.footer .content {
    width: 75%;
    height: 100px;
    margin: 0 12.5%;
}
}

.footer a {
    font-size: 1rem;
}