@media screen and (min-width: 500px) {

    .logo {
        margin-left: 20px;
    }
    
    .header > .menu {
        display: none;
    }

    #check_menu {
        display: none;
        margin-left: auto;
    }
    
    .burger_box label {
        position: absolute;
        font-size: 2rem;
        line-height: inherit;
    }
    
    .burger_box li {
        background-color: #fff;
        overflow: hidden;
    }
    
    .burger_box a {
        padding-left: 0px;
        font-size: inherit;
    }
    
    .burger_box {
        display: block;
        width: 150px;
        position: relative;
    }
    
    .burger_box ul {
        font-size: 0px;
        height: 0;
        top: 40px;
        position: absolute;
        padding: 0;
    }

    #check_menu:checked > ul {
        display: block;
        font-size: 1rem;
        max-height: 500px;
    }

    .post {
        float: none;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 80px;
    }

    .post img {
        width: 840px;
        height: 560px;
    }

    .post h5 {
        font-size: 50px; 
    }

    .post a {
        font-size: 3.2rem;
    }

    .post p {
        font-size: 2rem;
        max-width: 840px;
        line-height: 48px;
        margin-bottom: 150px;
    }

    .posts_button {
        outline: none;
        margin-top: 50px;
        margin-bottom: 75px;
        margin-left: 42%;
        width: 16%;
        height: 60px;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0%);
        color: #5d5d5d;
        border: 1px solid #5d5d5d;
        cursor: pointer;
        font-family: inherit;
    }

    .left_footer_content {
        width: 50%;
        display: flex;
    }
    
    .right_footer_content {
        width: 50%;
        display: flex;
    }
    
    .footer a {
        font-size: 1.5rem;
    }
}