@media screen and (min-width: 480px) {
    .menu li {
        display: none;
    }

    .burger-icon {
        font-size: 30px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .burger-icon {
        display: none;
    }

    .menu li {
        display: flex;
    }
}