body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

.page {
    width: 1060px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;   
}

h3 {
    font-family: "Ubuntu", sans-serif;
    color: #444;
    font-weight: 300;
    font-size: 28px;
}

h5 {
    color: #ccc;
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
}

p {
    font-size: 14px;
    line-height: 24px;
}